h2{
    font-size:7rem;
}

.mainTop,
fieldset{
    width:90%;
}

.mainTop{
    padding:5rem 0 5rem 7rem;
}

.mainTop h2{
    text-align:center;
}

.mainTop p{
    margin:2rem 0;
}

ul{
    list-style:none;
}

ul li{
    padding-left:3rem;
    line-height:3rem;
}

form{
    min-height:55vh;
    padding-top:4rem;
}

legend{
    font-size:4rem;
}

fieldset{
    margin:0 auto;
}

input[type="submit"]{
    padding:1.2rem 2rem;
}

