*{
    margin:0;
    padding:0;
}

html{
    font-size:62.5%;
}

.wrapper{
    max-width:1300px;
    width:93%;
}

.wrapper,
fieldset{
    margin:0 auto;
}

img{
    width:25%;
    height:auto;
    display:block;
}

body{
    font-family: 'Roboto Slab', serif;
    font-size:2rem;
}

h1,
h2,
legend,
input[type="submit"],
span{
    font-family: 'Kaushan Script', cursive;
}

header div,
.choices{
    display:flex;
    flex-wrap:wrap;
}