@media (max-width:672px){
    html{
        font-size:52%;
    }

    .mainTop{
        padding-left:5rem;
    }
}

@media (max-width:562px){
    h1{
        text-align:center;
    }

    input[type="submit"]{
        width:70%;
    }
}

@media (max-width:460px){
    .mainTop{
        padding-left:3rem;
    }

    .choices{
        width:67.5%;
        margin:2.5rem auto;
    }
}